.about {
  width: 100%;
  background-image: url(../assets/17.webp);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-about {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #24939b;
  padding: 20px;
}

.about h2 {
  text-align: center;
  color: #fff;
  font-size: 2em;
}

.about-slider {
  font-size: 1.2em;
  color: #fff;
  text-align: justify;
  font-weight: 300;
}

.container-about button {
  background-color: #fff;
  width: 100px;
  padding: 7px;
  margin: auto;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1.2em;
  color: #012c4c;
  cursor: pointer;
  transition: all 0.2s linear;
}

.container-about button:hover {
  transition: all 0.2s linear;
  background-color: #012c4c;
  color: white;
}

.selected {
  transition: all 0.2s linear;
  background-color: #012c4c !important;
  color: white !important;
}

.textos {
  width: 100%;
}

.textos.show {
  display: none;
}

@media (min-width: 768px) {
  .about {
    width: 100%;
    background-image: url(../assets/17.webp);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-about {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #24939b;
    padding: 30px;
  }

  .about h2 {
    text-align: center;
    color: #fff;
    font-size: 2em;
  }

  .about-slider {
    font-size: 1.5em;
    color: #fff;
    text-align: justify;
    font-weight: 300;
  }

  .container-about button {
    background-color: #fff;
    width: 100px;
    padding: 7px;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: none;
    border-radius: 7px;
    font-size: 1.2em;
    color: #012c4c;
  }

  .textos {
    width: 100%;
  }

  .textos.show {
    display: none;
  }
}