footer {
  width: 100%;
  padding-top: 10px;
}

.mapa {
  padding: 15px;
}

.mapa img {
  max-width: 100%;
}

.item-mapa iframe {
  width: 100%;
}

.mapa h2 {
  text-align: center;
  color: #012c4c;
  font-size: 1.7em;
}

.mapa h3 {
  text-align: justify;
  color: #012c4c;
  font-size: 1em;
}

.footer-footer {
  background-color: black;
  padding: 15px;
}

.footer-footer article {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-footer p {
  color: #fff;
  font-size: 0.9em;
}

.footer-footer a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-footer a i {
  margin-right: 5px;
}

.btn-rosa {
  display: block;
  width: 150px;
  background-color: #24939b;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 12px auto;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  transition: all 0.5s ease;
}

.item-footer-footer:nth-child(2) {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mapa {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .container-mapa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0px 50px;
  }

  .item-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mapa img {
    max-width: 100%;
  }

  .mapa h2 {
    text-align: center;
    color: #012c4c;
    font-size: 3em;
  }

  .mapa h3 {
    text-align: center;
    color: #012c4c;
    font-size: 1.7em;
  }

  .footer-footer {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-footer p {
    color: #fff;
    font-size: 1.2em;
  }

  .footer-footer a {
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
  }

  .footer-footer a:nth-child(2) {
    margin: 7px 0px;
  }

  .btn-rosa {
    display: block;
    width: 200px;
    background-color: #24939b;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 12px 0px 12px 0px;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    transition: all 0.5s ease;
  }

  .btn-rosa:hover {
    transform: scale(0.9);
    transition: all 0.5s ease;
  }
}