.galery {
  width: 100%;
}
.galery h2 {
  text-align: center;
  color: #012c4c;
  font-size: 1.7em;
}
.item-galery img {
  max-width: 100%;
  margin-top: 1px;
}
.container-galery {
  width: 92%;
  margin: 10px auto;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
}
@media (min-width: 768px) {
  .container-galery {
    width: 92%;
    margin: 10px auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    max-width: 1280px;
  }
  .galery h2 {
    text-align: center;
    color: #012c4c;
    font-size: 2.9em;
  }
  .item-galery img {
    transition: all 0.5s ease;
  }
  .item-galery img:hover {
    transform: scale(0.9);
    transition: all 0.5s ease;
  }
  /*.item-galery:nth-child(6),
  .item-galery:nth-child(5),
  .item-galery:nth-child(7),
  .item-galery:nth-child(11) {
    display: none;
  }*/
}
