.hero {
  width: 100%;
  overflow-x: hidden;
  height: 70%;
  position: relative;
  display: none;
}
.texto-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}
.container-texto-hero {
  width: 90%;
  backdrop-filter: blur(10px);
  background-color: rgba(62, 96, 111, 0.5);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.container-texto-hero h2 {
  color: #fff;
  font-size: 2em;
}
.container-texto-hero p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}
.hero img {
  max-width: 100%;
}
.img-escritorio {
  display: none;
}
@media (min-width: 768px) {
  .hero {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero img {
    max-width: 100%;
    height: inherit;
    text-align: center;
  }

  .container-texto-hero {
    width: 50%;
    backdrop-filter: blur(10px);
    background-color: rgba(62, 96, 111, 0.5);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .container-texto-hero h2 {
    color: #fff;
    font-size: 2.7em;
  }
  .container-texto-hero p {
    color: #fff;
    text-align: center;
    font-size: 2em;
  }
  .img-escritorio {
    display: block;
  }
  .img-movil {
    display: none;
  }
}
