.modal-promo {
  width: 100%;
  height: 100%;
  background-color: #24939bd0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  flex-direction: column;
  top: 0;
  right: 0;
  transform: scale(0);
  transition: 0.7s;
}

.modal-promo img {
  width: 100%;
  max-width: 400px;
}

.modal-promo h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.modal-promo i {
  color: white;
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 25px;
}

#btnContacto,
.promos-modal {
  background-color: #0572ee !important;
  display: block;
  margin: 12px auto;
  width: 200px;
  color: #fff !important;
  text-decoration: none;
  font-size: 1.3em;
  text-align: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

#btnContacto:before {
  content: "Agendar Cita";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #00bb2d;
  text-align: center;
  transition: 0.5s all ease;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal {
  width: max-content;
  background-color: white;
  transition: all 0.2s linear;
  padding: 10px 15px;
  border-radius: 10px;
  color: rgb(0, 136, 52);
  text-decoration: none;
  margin-top: 20px;
}

.btn-modal:hover {
  transition: all 0.2s linear;
  transform: scale(1.1);
}

.promos-modal:before {
  content: "Más Información";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #24939b;
  text-align: center;
  transition: 0.5s all ease;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#btnContacto:hover::before,
.promos-modal:hover::before {
  height: 100%;
  transition: 0.5s all ease;
}

.modal-open {
  transform: scale(1);
}

.container-promos-modal {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 30px;
  max-width: 1000px;
}

@media (max-width: 425px) {
  .modal-promo img {
    max-width: 250px;
  }

  .modal-promo h1 {
    font-size: 17px;
    margin: 0 10px 30px 10px;
  }

  .modal-promo i {
    top: 30px;
  }
}

@media (min-width: 768px) {
  .botones-modal {
    display: flex;
  }

  .botones-modal a[href="https://api.whatsapp.com/send?phone=525529484701"] {
    margin-right: 15px !important;
  }

  .promos-modal {
    margin-left: 15px !important;
  }

  .container-promos-modal {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }
}