header {
  width: 100%;
  padding: 0;
  margin: 0;
}
.container-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #24939b;
}

.header-top {
  max-width: 1400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 80px;
}

.item-header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}

.item-header-top p {
  color: azure;
  font-size: 1.1em;
  font-weight: 500;
}

.item-header-top a {
  color: azure;
  text-decoration: none;
  font-size: 1em;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.container-menu {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo {
  padding-left: 15px;
}

.btn-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 25px;
  padding-right: 15px;
  border: none;
  background-color: transparent;

}

.btn-menu span {
  width: 35px;
  height: 4px;
  display: inline-block;
  border-radius: 5px;
  background-color: #1e1e1e;
  transition: transform 0.3s linear;
}

.open {
  transition: transform 0.3s linear;
}

.open span:nth-child(1) {
  transform: rotate(45deg) translateY(14px);
}

.open span:nth-child(2) {
  transform: scale(0);
}

.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-15px);
}

.container-logo img {
  width: 180px;
}

.menu-nav {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 0;
  opacity: 0;
  transition: all 0.7s ease;
  gap: 25px;
  background-color: #24939b;
  z-index: 999;
  overflow: hidden;
}

.menu-nav.openMenu {
  height: 100vh;
  opacity: 1;
  transition: all 0.7s ease;
}

.menu-nav a:nth-child(1) {
  margin-top: 60px;
}

.menu-link {
  color: aliceblue;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.menu-link:hover {
  text-decoration: underline;
}

.btn-urgencias {
  color: white;
  background-color: red;
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  animation: pulse 1.8s ease-out;
  animation-iteration-count: infinite;
}

.whatsapp {
  display: none;
}

.menu-nav .btn-urgencias {
  display: none;
}

.menu-nav .btn-urgencias a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

@keyframes pulse {
  0% {
    background-color: red;
  }

  50% {
    background-color: rgb(255, 136, 0);
  }

  100% {
    background-color: red;
  }
}

@media (min-width: 768px) {
  header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header-top {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background-color: #24939b;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
  }

  .item-header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }

  .item-header-top p {
    color: azure;
    font-size: 1.4em;
    font-weight: 500;
  }

  .item-header-top a {
    color: azure;
    text-decoration: none;
    font-size: 1.3em;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-menu {
    width: 85%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .urgencias {
    display: none;
  }

  .nav-contacto {
    color: #fff !important;
    padding: 7px 20px;
    background-color: #24939b;
    transition: all 0.5s ease;
    border: 2px solid #24939b;
    position: relative;
  }

  .nav-contacto::before {
    content: "Agendar ";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    transition: all 0.5s ease;
    background-color: #fff;
    overflow: hidden;
    color: #24939b !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-contacto:hover::before {
    height: 100%;
    overflow: visible;
  }

  .agendar {
    display: none;
  }

  .menu-nav .btn-urgencias {
    display: flex;
    padding: 10px 15px 10px 15px;
  }

  .menu-nav .btn-urgencias a {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .btn-menu {
    display: none;
  }
  .menu-nav {
    position: relative;
    top: auto;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    opacity: 1;
    transition: all 0.7s ease;
    gap: 25px;
    background-color: transparent;
    z-index: 999;
    padding-right: 0px;
  }
  .menu-nav a:nth-child(1) {
    margin-top: 0px;
  }

  .menu-link {
    color: #000 !important;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 600;
  }
}