.promociones {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 20px;
  margin-bottom: 20px;
  place-content: center;
}
.container-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-promo a {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  background-color: #24939b;
  margin-top: 30px;
  transition: all 0.275s linear;
  font-size: 1.3em;
}
.container-promo a:hover {
  background-color: #012c4c;
  transition: all 0.275s linear;
}
.promotion-img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 8px 8px 8px gray;
}
.buenfin {
  border: 5px solid rgb(201, 0, 0);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0%;
  color: #000f00;
}
.urgencias-fixed{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(45, 214, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99;
}
.tel-fixed {
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 10px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99;
}
.container-fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.urgencias-fixed a, .tel-fixed a {
  display: flex;
}
.urgencias-fixed img, .to-promos img {
  width: 40px;
}
.tel-fixed img {
  width: 100%;
}
.txt-urgencia {
  background-color: red;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 95px;
  padding: 5px 35px 5px 10px;
  border-radius: 30px;
  font-size: 16px;
  z-index: 98;
  animation: urgencias 4s ease-out;
  animation-iteration-count: infinite;
}
.animado { /*Animación para aparecer y desaparecer el botón*/
  opacity: 0;
  transition: all 0.5s;
}
.show {
  opacity: 1;
  transition: all 0.5s;
}
.sale {
  right: 0;
  top: 0;
  position: fixed;
}
.to-promos {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 150px;
  position: fixed;
  background-color: #d146e1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.275s linear;
  cursor: pointer;
}
.to-promos .link-promo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero2 {
  align-items: center !important;
}
.to-promos:hover {
  background-color: #6185d9;
  transition: all 0.275s linear;
}
.container-urgencias {
  width: 100%;
  padding: 0 1rem;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-urgencias h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #000f00;
}
.container-urgencias img {
  width: 100%;
  border-radius: 10px;
}
.container-urgencias .urgencias-des {
  display: none;
}
@keyframes urgencias {
  0% {
    right: -75px;
    transform: scale(0);
  }
  50% {
    right: 40px;
    transform: scale(1);
  }
  100% {
    right: -75px;
    transform: scale(0);
  }
}
@media screen and (min-width: 768px) {
  .container-urgencias h2 {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 35px;
    color: #000f00;
  }
  .container-urgencias .urgencias-des {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1000px;
  }
  .container-urgencias .urgencias {
    display: none;
  }
  .to-promos {
    right: 20px;
    bottom: 180px;
  }
  .promo {
    margin: 7px auto;
  }
  .title {
    font-size: 2em;
  }
  .promociones {
    grid-template-columns: repeat(3, minmax(200px, 450px));
    place-items: center;
    gap: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .promotion-img {
    max-width: 100%;
  }
  .urgencias-fixed {
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
  }
  .tel-fixed  {
    width: 70px;
    height: 70px;
    bottom: 100px;
    right: 20px;
  }
  .to-promos {
    width: 70px;
    height: 70px;
  }
  .urgencias-fixed img {
    width: 40px;
  }
  .txt-urgencia {
    right: 55px;
    bottom: 115px;
    font-size: 18px;
  }
  @keyframes urgencias {
    0% {
      right: -60px;
      transform: scale(0);
    }
    50% {
      right: 60px;
      transform: scale(1);
    }
    100% {
      right: -60px;
      transform: scale(0);
    }
  }
}
@media (min-width: 1440px) {
  .promociones {
    grid-template-columns: repeat(3, minmax(300px, 450px));
    place-items: center;
    gap: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
